*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    /* max-width: 1280px; */
    width: 100%;            
    margin: 0 auto;
    padding: 0px;
    justify-content: space-between;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(236, 235, 233);
    color: #4C4C4C;
    border: solid 2px red;
}

/*HEADER*/

.header-container {
    position: relative;
    /* max-width: 1280px;      */
    width: 90%;
    /* max-width: 60vh; */
    min-height: 90px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: solid 2px red;
}
.title {
    max-width: 1280px;
    font-size: 48px;
    font-weight: 700;
    text-align: center; 
    color: #4C4C4C;
    /* border: solid 2px red; */
}

/*MAIN*/

.main-container {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    /* max-width: 1280px;      */
    width: 90%;
    max-width: 60vh;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden; /*???*/
}

input {
    display: none;
}
/* 
.container {
    max-width: 1200px;     
    width: 100%;
    margin: 0 auto;
    /* border: solid 2px red; */
/*} 
*/
.slider {
    display: flex;
    max-width: 1200px;   
    margin: 0 auto;
    justify-content: center;
    border: solid 2px red;
    
}
.slider-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1000px;     
    width: 100%;
    margin: 0 auto;
    border: solid 2px red;
}

.control  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.slider-item {
    display: flex;
    flex-direction: column;


}

.item {
    display: none;
}
